@import "tailwindcss";

@theme{
    --color-primary:#F5F5F5;
    --color-secondary:#F8E7F6;
    --color-accent:#DD88CF;
    --color-danger:#4B164C;
}

@layer components {
    .primary-btn {
        @apply  bg-danger text-white font-semibold py-3 px-6 rounded-xl  shadow-[0px_10px_14px_-7px_#de0029] hover:!scale-110 duration-300;
    }
}

@layer utilities {
    .drop-shadow {
        filter :drop-shadow(-6px 8px 15px rgba(0,0,0,0.2));
    }
}